.App {
  text-align: center;
}

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-intro {*/
    /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
    /*from { transform: rotate(0deg); }*/
    /*to { transform: rotate(360deg); }*/
/*}*/


/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/****** Left Add Box *********/

.add-items {
    margin-top: 25vh;
    position: fixed;
    height: 100vh;
    width: 55vw;
    float: left;
    /*background-color: rgb(69, 156, 243);*/
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-box {
    height: 30px;
    width: 25vw;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border: 1px solid black;
}

.submit-button {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    font-size: medium;
    border-radius: 50%;
    margin-left: 5px;
}

.submit-button:hover {
    border: #2BB673;
    border-width: 1px;
    border-style: solid;
    color: #2BB673;
}

.fun-text {
    font-family: "Libre Baskerville", sans-serif;
    font-size: x-large;
    margin-bottom: 40px;
    padding: 20px;
    /*text-align: left;*/
    /*margin-left: 2vw;*/
}

button:focus {outline:0;}

.doers {
    color: rgb(70, 146, 246);
}

/****** Right List *********/

.item-list {
    width: 45vw;
    margin: 0 auto; /* top, right, bottom, left */
    padding: 0 0 0 0;
    float: right;
}

/*.title {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*position: fixed;*/
    /*right:0;*/
    /*background-color: white;*/
    /*z-index: 1;*/
/*}*/

/*.span1 {*/
    /*float: left;*/
/*}*/

/*.span2 {*/
    /*margin-left: 43.5%;*/
/*}*/

.task {
    height: 18vh;
}

.completed {
    display: block;
    margin: 0 auto;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms time;
    -o-transition: 400ms time;
    transition: 400ms time;
    width: 10px;
    height: 12vh;
    float: left;
}

.done {
    border-left: #2BB673;
    border-left-width: 15px;
    border-left-style: solid;
}

.notdone {

}

.appear {
    width: 30px;
    height: 18vh;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float: left;
    height: 18vh;
    min-width: 20vw;
    width: 100%;
    position: relative;
    border-bottom: 1px solid black;
}

.delete-icon {
    opacity: 0;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 30px;}

.delete-icon:hover {
    opacity: 100;
}

/* latin-ext */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK56jerHLVJWaC-9Ja-RK4Ug.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK8j0T1k_tV7QYhgnOhA2764.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(http://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v1Ef5V7kwaj4OOs6XcyXi2gU24FapfJwyacJ6xNu5rm9.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(http://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v3P-aopHhiRsq7E8MylMIrv3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5RObNE73mVYEPR_8pi-Us2X2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5fbsUggLxuOzHNuXcSFlTaY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



